.tag-list ul {
    list-style:none;
    margin:0;
    padding:0;
}

.tag-list li {
    margin: 0 0 0 0;
    float: left;
}

.hidden {
    display: none;
}

.selected {
    padding: 3px 5px 2px 5px;
    background: #B1C3FF;
    color: white;
    border-radius: 10px;
    border: 1px solid #DDDEDD;
}

.tag:hover {
    border: 1px solid #DDDEDD;
    border-radius: 10px;
    padding: 3px 5px 2px 5px;
    font-weight: 300;
}


.tag {
    padding: 3px 5px 2px 5px;
    border: 1px solid #DDDEDD;
    border-radius: 10px;
}

.tag-all {
    padding: 3px 5px 2px 5px;
}