@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
.modal_bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1); /*일단 표시만*/
  z-index: 1;
}
.modal_wrap {
  display: none;
  justify-content: center;
  align-items: center;
  width: 860px;
  height: 460px;
  position: fixed;
  top: 140px;
  left: calc(50% - 430px);
  background: rgba(255, 255, 255, 0.8); /*일단 표시만*/
  z-index: 3; /*그 다음 앞에 */
}
.black_bg {
  display: none;
  position: fixed;
  justify-content: center;
  top: 120px;
  left: calc(50% - 450px);
  content: "";
  width: 900px;
  height: 500px;
  background: rgba(51, 51, 51, 0.705);
  border-radius: 3px;
  z-index: 2; /*얘가 백그라운드 */
}
.modal_close {
  width: 26px;
  height: 26px;
  position: absolute;
  top: -30px;
  right: 0;
}
.modal_close > a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(https://img.icons8.com/metro/26/000000/close-window.png);
  text-indent: -9999px;
}

.the_member {
  display: flex;
  justify-content: flex-start;
  margin-top: 90px;
  margin-left: 30px;
}

.member_image {
  border-radius: 50%;
  width: 300px;
  height: 280px;
}
.member_description {
  margin-left: 60px;
  margin-right: 40px;
}
.text {
  font-family: "Noto Sans KR";
  letter-spacing: 0.2px;
  text-align: left;
}

#title {
  color: crimson;
  font-size: 20px;
  font-weight: bold;
}

#name {
  color: black;
  font-size: 25px;
  font-weight: bold;
}

#d {
  color: darkslategray;
  font-size: 15px;
}
