/*이 css는 폴더 모양과 위치 조정 관련 코드가 있습니다! */
.folder {
  cursor: pointer;
  display: inline-block; /*div 자체가 block이라*/
  justify-content: flex-start;
  background-color: #ffd485;
  width: 200px;
  height: 150px;
  border-radius: 10px;
  position: relative;
  margin-top: 30px;
}
.folder:before {
  width: 90px;
  height: 30px;
  border-radius: 5px;
  content: "";
  background-color: #ffd485;
  position: absolute;
  top: -22px;
  left: 0px;
}
.folder:after {
  display: block;
  width: 200px;
  height: 150px;
  border-radius: 10px;
  content: "";
  transform: skew(0deg);
  background-color: #ffe1a8;
  transition: all 0.2s;
}

.folder:hover:after {
  transform-origin: 90% 100%; /*기준점을 끝 부분으로 바꿈!! */
  transform: skewX(-10deg);
  margin-left: 10px;
}
