/*이 코드에는 멤버 페이지 전반적인 속성과 위치에 관한 코드가 들어있습니다*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box; /*콘텐트 뿐만 아니라 테두리영역까지 크기를 잡아주는 속성*/
}
body {
  background-color: #fff;
  color: #000;
  position: relative; 
  

}
.container {
  font-family: 'Montserrat', sans-serif;
  height: 450px; /*vh 말고 px!!!*/
  width: 100%; 
  padding-top: 200px;
  /* 화면 전체 너비에 맞추기 위해 */

  /*글자의 정렬, 위치에 대한 부분*/

}
.container p {
  font-size: 5rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-align: center;
  line-height: 5rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  .container p {

    font-size: 3rem;
    line-height: 3rem;
  }
}
.container p span.typed-text {
  font-weight: bold;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.2rem;
  width: 3px;
  height: 4rem;
  vertical-align: middle;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}

@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

.introduction{ /*lead 부분 + not lead인 애들까지 다 포함*/
  /* 삭제한 부분 
  position:absolute;
  left:10%;
  right:0;
  display:flex; 이것도 너비 양쪽으로 채우려고 한 코드임*/

  height: auto; /*아니 이렇게 간단하다고?!*/
  margin-bottom: 150px;
}

/*
#lead{
  height: 50vh;
  top:100vh;
} */
/*#core{
  height: 90vh;
  top: 160vh;
}*/
/*#member{
  height: 200vh;
  top: 260vh;
}*/

.who{ /* 타이틀 부분 */
 display: inline-block; 
 height: 36px;
  /*여기까지가 추가된 부분 P로 감싸서 block 처리되니까 inline 처리 해주자 */
 font-family: 'Montserrat', sans-serif;
 font-size: 60px;
 font-weight: bold;
 line-height: 1; /*이것도 추가된 부분 그치 폰트 사이즈랑 line 크기랑*/
}

.member-card-container{ /*전체 폴더에 대한 위치 및 설정 */
  width: 100%;
  display:flex;
  flex-wrap: wrap; /* 넘쳤을 때 다음 줄로 나열 */
  justify-content: space-between;
  /*position:absolute;
  left:18%;
  right:0;
  padding-top: 10vh;*/

}

.member-card-container::after{
  flex: auto;
  content: "";
}

.member-card{
  /*폴더 한 줄에 대한 위치 조정이 아니라 그냥 폴더랑 이름을 같이 묶은 그룹*/
  width: calc(100% / 3 - 40px);
  margin: 0 20px;
  height: 250px;
}

@media (max-width: 768px) {
  .member-card {
    width: calc(50% - 80px);
    margin: 40px;
  }
}

@media (max-width: 600px) {
  .member-card {
    width: calc(100% - 80px);
    margin: 40px;
  }
}


.member-name { /*폴더랑 이름이 있다고 했을 때 이름만 해당*/
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-top: 25px;

  /*
  position:absolute;
  margin-top: -10vh;
  margin-left: -6vh; */
}
