/*이 코드에는 멤버 페이지 전반적인 속성과 위치에 관한 코드가 들어있습니다*/
@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box; /*콘텐트 뿐만 아니라 테두리영역까지 크기를 잡아주는 속성*/
}
body {
  background-color: #fff;
  color: #000;
}
.container {
  font-family: "Montserrat", sans-serif;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container p {
  font-size: 5rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-align: center;
  /*overflow: hidden;*/
}
.container p span.typed-text {
  font-weight: bold;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.2rem;
  width: 3px;
  height: 4rem;
  vertical-align: middle;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

.introduction {
  width: 100%;
  height: auto;
}

.not-lead-part {
  margin-top: 50px;
}

.who {
  /*폰트 관련*/
  display: inline-block;
  height: 36px;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}

.member-card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.member-card {
  width: 200px;
  height: 275px;
  margin-right: 33px;
}

.member-name {
  display: inline-block;
  width: 200px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-top: 25px;
}

.name span {
  padding-right: 36vh;
}
