---
layout: mem_page
permalink: /members/1
title: MEMBER - 1st_term
---

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/member.css">
    <link rel="stylesheet" href="/css/folder.css">
    <link rel="stylesheet" href="/css/click_members.css">

</head>

<body>
    <div class="container" style="font-family: 'Google Sans'">
        <p>WE ARE <span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
    </div>
    <!-- lead part start -->
    <div class="introduction">
        <p class="who" style="font-family: 'Google Sans';">LEAD</p>
        <div class="member-card-container">
            <div class="member-card">
                <div class="folder">
                    {% assign member = site.data.members | map: "members_1" | first | where: "role", "lead" %}
                </div>
                <span class="member-name">{{ member | map: "name" }}</span>
            </div>
            <div class="black_bg">
                <div class="modal_close"><a href="#;">close</a></div>
            </div>
            <!-- modal start -->
            <div class="modal_wrap">
                <div class="the_member">
                    <img class="member_image" src="https://github.com/{{ member | map: 'github' }}.png">
                    <div class="member_description">
                        <p class="text" id="title"> {{ member | map: "description" }} </p>
                        <p class="text" id="name"> {{ member | map: "name" }} </p>
                        <P class="text" id="d"> {{ member | map: "introduce" }}</p>
                        <span class="member-icon"><a class="link-dark"
                                href="https://github.com/{{ member | map: 'github' }}" target="_blank"><i
                                    class="fa fa-github fa-2x"></i></a></span>
                        <a rel="author" href="{{ member | map: 'blog' }}" target="_blank"><img
                                src="/img/blog_icon/{{ member | map: 'blog_platform' }}.jpg" width="26px"></a>
                        <a rel="author" href="https://blog.naver.com/yongsan0701" target="_blank"><img
                                src="/img/blog_icon/naver.jpg" width="26px"></a>
                    </div>
                </div>
            </div>
            <!-- modal end -->
        </div>
    </div>
    <!-- lead part end -->

    <!-- core part start -->
    <div class="introduction not-lead-part">
        <p class="who" style="font-family: 'Google Sans';">CORE</p>
        <div class="member-card-container">

            {% assign members = site.data.members | map: "members_1" | first | where: "role", "core" %}
            {% for member in members %}
            <div class="member-card">
                <div class="folder">
                </div>
                <span class="member-name">{{ member.name }}</span>
            </div>
            <div class="black_bg">
                <div class="modal_close"><a href="#;">close</a></div>
            </div>
            <div class="modal_wrap">
                <div class="the_member">
                    <img class="member_image" src="https://github.com/{{ member | map: 'github' }}.png">
                    <div class="member_description">
                        <p class="text" id="title"> {{ member.description }} </p>
                        <p class="text" id="name"> {{ member.name }} </p>
                        <P class="text" id="d"> {{ member.introduce }}</p>
                        <span class="member-icon"><a class="link-dark"
                                href="https://github.com/{{ member.github }}" target="_blank"><i
                                    class="fa fa-github fa-2x"></i></a></span>
                        <a rel="author" href="{{ member.blog }}" target="_blank"><img
                                src="/img/blog_icon/{{ member.blog_platform }}.jpg" width="26px"></a>
                    </div>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
    <!-- Core part end -->
    <!-- member part start -->
    <div class="introduction not-lead-part">
        <p class="who" style="font-family: 'Google Sans';">MEMBER</p>
        <div class="member-card-container">
            {% assign members = site.data.members | map: "members_1" | first | where: "role", "member" %}
            {% for member in members %}
            <div class="member-card">
                <div class="folder">
                </div>
                <span class="member-name">{{ member.name }}</span>
            </div>
            <div class="black_bg">
                <div class="modal_close"><a href="#;">close</a></div>
            </div>
            <div class="modal_wrap">
                <div class="the_member">
                    <img class="member_image" src="https://github.com/{{ member | map: 'github' }}.png">
                    <div class="member_description">
                        <p class="text" id="title"> {{ member.description }} </p>
                        <p class="text" id="name"> {{ member.name }} </p>
                        <P class="text" id="d"> {{ member.introduce }}</p>
                        <span class="member-icon"><a class="link-dark"
                                href="https://github.com/{{ member.github }}" target="_blank"><i
                                    class="fa fa-github fa-2x"></i></a></span>
                        <a rel="author" href="{{ member.blog }}" target="_blank"><img
                                src="/img/blog_icon/{{ member.blog_platform }}.jpg" width="26px"></a>
                    </div>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
    <!-- member part end -->
    <div class="introduction not-lead-part">
        <!-- 밑에 공간을 만들어주기 위해서-->
        <div class="member-card-container">
            <div class="member-card"></div>
        </div>
    </div>
    <!-- js는 마지막즈음에 두도록 하자! -->
    <script src="/js/member.js"></script> <!-- 이 js는 꼭 마지막에 두는 것을 추천! html 코드를 보고 움직이기 때문! -->
    <script src="/js/click_members.js"></script>
</body>
