<header id="tab" >
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <div class="site-header">
    <div class="wrapper">

      <div class="header-inner">
        <div id="logo-wrapper">
          <a href="{{ site.baseurl }}/">
            <img class="logo" src="/img/logo.png" height="25px">
            <span class="title">GDSC Seoultech</span>
          </a>
        </div>
  
        <nav class="site-nav">
          <ul>
            {% assign members = site.data.members %}
            {% assign cnt = members.size %}
            <li><a class="page-link" href="{{ site.baseurl }}/about">ABOUT</a></li>
            <li><a class="page-link" href="{{ site.baseurl }}/members/{{ cnt }}">MEMBER</a></li>
            <li><a class="page-link" href="{{ site.baseurl }}/category/{{ cnt }}">POST</a></li>
          </ul>

          <div class="menu-dropdown">
            <div class="icon"></div>
          </div>

        </nav>
      </div>

    </div>
  </div>
  <script>
    $(".menu-dropdown").click(() => {
      $(".site-nav > ul").toggleClass("show")
    })
  </script>
  <!--
  <div id="hovering" class="tab-header">
    <div class="wrapper">
      <div class="detail-post">
          <div class="tab-item">
            {% assign cnt = 0 %}
            {% for page in site.pages %}
            {% if page.layout == "category" %}
            {% assign cnt = cnt | plus: 1 %}
            <div><a class="page-link-detail" href="{{ site.baseurl }}/category/{{ page.title }}">{{ cnt }}기</a></div>
            {% endif %}
            {% endfor %}
          </div>
      </div>
      <div class="detail-member">
        <div class="tab-item">
          {% assign cnt = 0 %}
          {% for page in site.pages %}
          {% if page.layout == "mem_page" %}
          {% assign cnt = cnt | plus: 1 %}
          <div><a class="page-link-detail" href="{{ site.baseurl }}{{page.permalink}}">{{ cnt }}기</a></div>
          {% endif %}
          {% endfor %}
        </div>
    </div>
    </div>

  </div>
  

  <script type="text/javascript">
    var tabMenu = $("#tab");
    var tabSubMenu = $("#hovering");

    tabSubMenu.hide()

    tabMenu.hover(function() {
      tabSubMenu.show();
    }, function() {
      tabSubMenu.hide();
    })
  </script>
   -->

</header>