/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/** Variables **********************************************/
$base-font-family:              Google sans, sans-serif;
$base-line-height:              1.5em;
$horizontal-spacing-unit:       50px;
$vertical-spacing-unit:         40px;
$nav-height:                    60px;

/* portfolio tinkering */
$img_spacing: 5px;
$img_height: 275px;
$caption_font_size: 12px;
$caption_color: #aaa;

/* COLORS  */
$red:  #FF3636;
$orange: #F29105;
$blue: #2698BA;
$green: #11D68B;
$lime_green: #B7D12A;
$purple: #B509AC;


$grey-color-dark: #333;   /* footer */
$grey-color-light: #ddd;  /* navigation bar border */
$text-color: #363636;

/* GDSC Color */
$gdsc-red: #EA4335;
$gdsc-blue: #4285F4;
$gdsc-yellow: #F9AB00;
$gdsc-yellow_200: #FDE293;
$gdsc-green: #34A853;

/* Set theme color *************************/
$theme-color:   $gdsc-blue;


/************************************************************/

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 100;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

body.scroll-lock {
    overflow: hidden;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: calc(#{$vertical-spacing-unit} / 2);
}

.alignright {
    float: right;
}


hr{
    /* Inset, by Dan Eden */
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}


/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $horizontal-spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

h1 {
    padding: 40px 0 16px;
}


/**
 * Links
 */
a {
    color: $text-color;
    text-decoration: none;
    /*
    &:visited {
        color: darken($brand-color, 15%);
    }
    */
    &:hover {
        color: $theme-color;
        text-decoration: none;
    }
    &.page-link-detail:hover {
        color: black;
        text-decoration: none;
    }
}

article a {
    color: black;
    font-weight: 100;

    &:hover {
        color: $theme-color;
        text-decoration: none;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $text-color;
    border-left: 10px solid $grey-color-light;
    padding-left: calc(#{$horizontal-spacing-unit} / 2);
    font-size: 18px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */

code.highlighter-rouge {
  font-size: 14px;
  background-color: #F6F9FC;
  color: blueviolet;
  padding: 1px;
  font-weight: bold;
}

pre.highlight {
  padding: 10px 0 0 10px;
  font-size: 16px;
  overflow-x: scroll;
  margin: 10px;
}

/* total width */
pre.highlight::-webkit-scrollbar {
  background-color: #fff;
  height: 10px;
}

/* background of the scrollbar except button or resizer */
pre.highlight::-webkit-scrollbar-track {
  background-color: #272822;
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
}

/* scrollbar itself */
pre.highlight::-webkit-scrollbar-thumb {
  background-color: blueviolet;
  border-radius: 10px;
  border: 1px solid blueviolet;
  background-clip: padding-box;
}

/* set button(top and bottom of the scrollbar) */
pre.highlight::-webkit-scrollbar-button {
  display:none;
}


/**
 * Wrapper
 */

.wrapper {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
    padding-right: $horizontal-spacing-unit;
    padding-left: $horizontal-spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        padding-right: calc(#{$spacing-unit} / 2);
        padding-left: calc(#{$spacing-unit} / 2);
    }
}


/**
 * Clearfix
 */
%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



