---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <h5 class="post-description">{{ page.description }}</h5>
  </header>


  <div class="category-list">
    <ul>
      <li><a href="/posts">all</a></li>
      {% for category in site.categories %}
      <li><a href="/category/{{ category | first }}">{{ category | first }}({{ category | last | size }}) </a></li>
      {% endfor %}
    </ul>
      
  </div>

<p>
  <br>
  <hr style="width: 270px; size: 5px;">
</p>


  <!-- 해당 부분도 수정 필요. 해당 카테고리 이름 출력. -->
  <!-- <h1">{{ site.categories | first | first }}</h1>> -->

  <ul class="post-list">

    {% assign category = page.title %}
    {% for post in site.categories[category] %}
      <li>
        <h3><a class="post-title" href="{{ post.url | prepend: site.baseurl }}" style="font-size: 30px;">{{ post.title }}</a></h3>
        <p style="padding-top: 10px; margin-bottom: 5px;">• {{ post.author }} • {{ post.categories }}</p>
        <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>
      </li>
    {% endfor %}
  </ul>
</div>