---
layout: default
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/category.js"></script>
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <h5 class="post-description">{{ page.description }}</h5>
  </header>


  <div class="tag-list">
    <ul>
        <a class="tag-all" href="/category/{{page.title}}">all</a>
      {% for tag in site.data.tags %}
          <a href="/category/{{page.title}}/?tag={{ tag }}">
            <span class="tag" data-tag="{{tag}}">{{tag}}</span>
          </a>
      {% endfor %}
    </ul>
      
  </div>

<p>
  <br>
  <hr style="width: 270px; size: 5px;">
</p>


  <!-- 해당 부분도 수정 필요. 해당 카테고리 이름 출력. -->
  <!-- <h1">{{ site.categories | first | first }}</h1>> -->

  <ul class="post-list">

    {% assign category = page.title %}
    {% for post in site.categories[category] %}
    <li class="post-wrapper"
        {% if post.tags %}
        {% for tag in post.tags %}
        data-{{ tag }}
        {% endfor %}
        {% endif %}>
        <h3><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p class="post-author">작성자: {{ post.author }}</p>
        <p class="post-meta">{{ post.date | date: '%Y년 %m월 %-d일 %H:%M' }}</p>
    </li>
    {% endfor %}
  </ul>
</div>