<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/css/member.css">
    <link rel="stylesheet" href="/css/folder.css">
    <link rel="stylesheet" href="/css/click_members.css">
  </head>
   
  <body>
    <script src="/js/default.js"></script>
    {% include header.html %}

    <div id="banner">
      <img src="/img/banner.png"/>
    </div>

    <div class="page-content" id="page-content">
      <div class="wrapper" id="wrapper">
        <div class="post">

          <header class="member-header">
            {% assign members = site.data.members %}
            {% assign cnt = members.size %}
            {% assign year_raw = page.permalink | split: "/" %}
            <div class="dropdown-year">
              <button class="dropdown-btn">{{ year_raw[2]}}기 ▼</button>
              <div class="dropdown-content">
                {% for _member in members %}
                <a href="/members/{{ cnt }}">{{ cnt }}기</a>
                {% assign cnt = cnt | minus: 1 %}
                {% endfor%}
              </div>
            </div>
            <h1 class="member-title">Members</h1>
          </header>
        
          <article class="member-content">
              
            {{ content }}
        
          </article>
        
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>

