<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/css/member.css">
    <link rel="stylesheet" href="/css/folder.css">
    <link rel="stylesheet" href="/css/click_members.css">
  </head>
   
  <body>
    <script src="/js/default.js"></script>
    {% include header.html %}


    <div class="page-content" id="page-content">
      <div class="wrapper" id="wrapper">
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <h5 class="post-description">{{ page.description }}</h5>
          </header>
        
          <article class="member-content">
              
            {{ content }}
        
          </article>
        
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>

