---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <h1 class="post-description">{{ page.description }}</h1>
    <p class="post-meta">{{ page.date | date: "%B %-d, %Y — %H:%M" }}{% if page.author %} • {{ page.author }}{% endif %} • {{ page.categories }}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

  </header>
  <article class="post-content">
    {{ content }}
  </article>
  <br>

  <hr/><br>

  <div class="author">
    {% assign author = site.data.members[page.author] %}
    <table>
        <tr>
          <td rowspan="3" style="padding-right: 10px"><img class="author-pic" src="https://github.com/{{author.github}}.png" alt="{{author.author_name}}"></td>
          <td><b><h2 rel="author">{{ author.name }}</h2></b></td>
        </tr>
      <tr>
        <td><p rel="author">{{ author.description }}</p>
        </td>
      </tr>
      <tr>
        <td>
          <a rel="author" href="https://github.com/{{author.github}}" target="_blank"><i class="fa fa-github fa-2x"></i></a>&nbsp&nbsp
          {{% if author.blog %}}
            <a rel="author" href="{{author.blog}}" target="_blank"><img src="/img/blog_icon/{{author.blog_platform}}.jpg" width="26px"></a>
          {{% endif %}}
        </td>


      </tr>



    </table>

  </div>


  <br>
  <hr/>
  <div>
    <script src="https://utteranc.es/client.js"
        repo="gdsc-seoultech/blog-comments"
        issue-term="pathname"
        label="comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
  </div>

</div>
